$bg-color:#FFFFFF;
$card-color:#FAFAFA;
$card-color-hover:#F3F3F3;
$button-active-color: #FFCD00;
$color-dark:#333333;
$color-light-grey:#858585;
$color-border:#F0F0F0;


$grid-gap:1.25rem;
$card-s-height:10.69rem;
$card-s-width:20.56rem;
$card-l-height:34.56rem;
$card-l-width:42rem;