$bg-color:#FFFFFF;
$card-color:#FAFAFA;
$card-color-hover:#F3F3F3;
$button-active-color: #FFCD00;
$color-dark:#333333;
$color-light-grey:#858585;
$color-border:#F0F0F0;


$edge-margin:2.5rem;
$card-width:12.5rem;
