.content{
    height: 100%;
    width: 64rem;

    padding-top: 1.13rem;
    padding-bottom: 5rem;
    
    @include responsive(big-desktop) {
        width: 80rem;
    }

    @include responsive(tab-port) {
        width: 100%;
    }
    @include responsive(phone) {
        padding-top: 0;
    }

    &__header{
        margin-bottom: 2rem;
        @include responsive(phone) {
            margin-bottom: 1.19rem;
        }
    }

}

