.content{
    height: 100%;
    width: 64rem;

    padding-top: 2rem;
    padding-bottom: 5rem;

    &__header{
        margin-bottom: 2rem;
    }
    // overflow: hidden;
}
.events{
    // height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: $grid-gap; //TODO

}