.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(3.25rem,5.75rem) 1fr minmax(3rem,4rem);
    grid-template-columns: 1fr 64rem 1fr ;
    grid-template-areas:"header header header" 
                        ". main ."
                        "footer footer footer";

    .header{
        grid-area: header;
    }
    .main{
        grid-area: main; 
    }

    // .side{

    // }
    .footer{
        grid-area: footer; 
    }
}