.content{
    display: grid;
    gris-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr;
    // grid-gap: $grid-gap; //TODO
    background-color: $card-color;
    border-radius: $grid-gap;
    padding: $grid-gap;
 
    .image{
        &__wrapper{
            width: 40rem;
            overflow: hidden;
            margin: auto;
        }
        width: 64rem;
        
           &--img{
               width: 100%;
            //    ру
           } 
    }

    .controls{
        display: grid;
        padding: $grid-gap;

    }
}
