.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(3.25rem,5.75rem) 1fr minmax(3rem,4rem);
    grid-template-columns: 1fr 64rem 1fr ;
    grid-template-areas:"header header header" 
                        ". content ."
                        "footer footer footer";
                        grid-row-gap: $grid-gap;

    .header{
        grid-area: header;
    }
    .content{
        grid-area: content; 
    }


    .footer{
        grid-area: footer; 
    }
}