.heading--primary{
    font-size: 2.25rem;
    color: $color-dark;
    text-align: left;
}

.text--nav-link{
    font-size: 1rem;
    line-height: 20px;// font-family: Arial-BoldMT;
    font-weight: bold;
    opacity: 0.6;  
    
    &:hover,&:active,&:focus{
        opacity: 1; 
    }
}

.link-active{
    opacity: 1;  
}

.text--footer{
    font-size: .75rem;
    color: $color-light-grey;
    letter-spacing: 0.01px;   
}

.text--bold{
    font-weight: bold;
}

.card{
    &--heading{
        font-size: 24px;
        font-weight: bold; 
    }

    &--source-text, &--time-text{
        font-size: 18px;
        font-weight: normal;

    }

    &--paragraph{
        font-size: 20px;
        text-align: left;
    }


    &--data{

        &-climate{
            font-size: 18px;
            color: black;
        }


        &-paragraph{
            font-size: 20px;
            color: black;
        } 

        &-music{
            font-family: Helvetica;
            font-size: 14px;
            color: rgba($color-music-text, .84);
        }

    }



}
