.heading--primary{
    font-size: 2.25rem;
    color: $color-dark;
    text-align: left;
}

.text--nav-link{
    font-size: 1rem;
    line-height: 20px;// font-family: Arial-BoldMT;
    font-weight: bold;
    opacity: 0.6;  
    
    &:hover,&:active,&:focus{
        opacity: 1; 
    }
}

.link-active{
    opacity: 1;  
}

.text--footer{
    font-size: .75rem;
    color: $color-light-grey;
    letter-spacing: 0.01px;   
}


.card{
    &--heading{
        font-size: 24px;
        font-weight: bold;
        color:  $color-dark;  
    }

    &--source-text, &--time-text{
        font-size: 18px;
        font-weight: normal;

    }

    &--paragraph{
        font-size: 20px;
        text-align: left;
    }

    &--data-climate{
        font-size: 18px;
        color: black;

        &--bold{
            font-weight: bold;
        }
    }


    &--data-paragraph{
        font-size: 20px;
        color: black;

        &--bold{
            font-weight: bold;
        }
    } 

}
/*deprecated*/

.section-heading{
    margin-bottom: 1.25rem;
    @include responsive(phone) {
        margin-bottom: 1.69rem;
    }
}
.heading-section{
    font-weight: bold;
    font-size: 18px;
}

.heading--place{
    font-size: 14px;
    color: $color-light-grey;
    @include responsive(phone) {
        font-size: 12px;
        font-weight: normal;
    }
}


.heading--filter,.heading-settings{
    font-weight: bold;
    font-size: 13px;
    color:black;
}
.heading-settings{
    @include responsive(phone) {
        font-weight: normal;
    }
}
.paragraph-1{
    font-size: 14px;
    color: $color-dark;
    @include responsive(phone) {
        font-size: 12px;
    }
}

.paragraph-2{
    font-size: 12px;
    color: $color-light-grey;
    letter-spacing: 0;
}


.heading--button{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
}

.heading--popup-slider{
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: bold;
}

.heading--thermostat{
    font-weight: bold;
    font-size: 66px;
    color: $color-dark;
    letter-spacing: 0;
}